<h1><%= @point.name %></h1>

<p>latitude: <%= @point.latitude %></p>
<p>longitude: <%= @point.longitude %></p>

<%= link_to 'edit', edit_point_path %>
<%= link_to 'destroy', @point, data: {
  turbo_method: :delete
} %>

<%= link_to 'back', points_path %>

<h2>Stations:</h2>
<% @stations.reverse_each do |station| %>
  <li>
  <%= link_to "Station ##{station.serial_number}", point_station_path(@point, station) %>
  </li>
<% end %>
<br>
<%= link_to "New station", new_point_station_path(@point) %>