<h2>Edit a station:</h2>

<%= form_with model: [@point, @point.station.build] do |form| %>
  <p>
    <%= form.label :serial_number %><br>
    <%= form.text_field :serial_number %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<br>
<%= link_to 'back', point_path(@point) %>