<h1><%= 'Connector' %></h1>

<p>type: <%= @connector.connector_type %></p>
<p>power: <%= @connector.power %></p>

<%= link_to 'edit', edit_point_station_connector_path %>
<%= link_to 'destroy', point_station_connector_path(@point, @station, @connector), data: {
  turbo_method: :delete
} %>

<%= link_to 'back', point_station_path(@point, @station) %>

<% if @connector.is_free? %>
  <h2>No active session</h2>
  <%= render "sessions/form", connector: @connector, session: @session %>
<% else %>
  <h2>Active session:</h2>
  <%= "Session id:#{@session.id}, client id:#{@session.client_id}, energy: #{@session.energy}"  %>
  <%= button_to "Stop active session", session_stop_path(@session), method: :post %>

<% end %>